    <div id='sidebar'>
      <h2>¿Qué estás viendo?</h2>
      <ul id='layers'>
        <li data-layer-name='barrios' class='barrios'>
          <header>
            <input type='checkbox' name='entity' value='barrios' checked> Barrios
            <a href='#filters-barrios' class='expand'></a>
          </header>

          <!-- Inicio Filtro de Barrios -->

<!-- 
          <div id='filters-barrios' class='entity-filter' data-target-layer='barrios'>
            <section class='filter facet col' data-facet='una_categoria' style='display: block'>
              <header>Una categoría</header>
              <div>
                <label><input type='checkbox' value='uno' checked>Opción uno</label>
                <label><input type='checkbox' value='dos' checked>Opción dos</label>
              </div>
            </section>
          </div>
 -->

          <!-- Cierro Filtro de Barrios -->
        </li>

        <li data-layer-name='es' class='es'>
          <header>
            <input type='checkbox' name='entity' value='es' checked> Establecimientos de salud
            <a href='#filters-es' class='expand'></a>		
            <img style="vertical-align:bottom;" src="/images/down_32_32.png" width="32" height="32"/>
          </header>

          <!-- Inicio Filtro de Establecimientos de salud -->

          <div id='filters-es' class='entity-filter' data-target-layer='es'>
            <section class='filter facet' data-facet='Hospital' style='display: block'>
              <header>Tipos de establecimientos</header>
              <div>
                <label style="color:#ff0000;"><input type='checkbox' value='X' checked>Hospitales</label>
                <label style="color:#32cd32;"><input type='checkbox' value='' checked>Centros de atención primaria</label>
              </div>
            </section>
          </div>

          <!-- Cierro Filtro de Establecimientos de salud -->
        </li>
   </ul>

   <div class='views'>
    <h2>¿Cómo lo estás viendo?</h2>
    <a href='#view=map' title='Vista de mapa' class='map active'><span></span></a><a href='#view=table' title='Vista de tabla' class='table'><span></span></a>
    <br /><span class="vista-mapa">Mapa</span><span class="vista-tabla">Tabla</span>
   </div>

   <br />

	<div  class='link-testimonios'>
		<h2>
		<a href='/contenido/testimonios'>
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="32" height="32"/>Testimonios<img src="/images/link_32_32.png" width="32" height="32"/>
		</a>
    	</h2>
	</div>

</div>

<!-- Posicion original de filtros -->
<!-- Final Posicion original de filtros -->


<div id="main" role="main" class="fluid">
  <div id="table" style='display: none'>
    <table id='barrios-table' class='display'></table>
    <table id='es-table' class='display'></table>
  </div>
  <div id="map"></div>
</div>

<!-- infoWindow for Barrios -->
<script type='text/html' id='barrios-bubble-template'>
	<div class='bubble'>
		<table>
			<tr>
				<td><img src="/images/icon_city.gif" width="40" height="40" /></td>
				<td><h1>${NOMBRE_DEL_BARRIO.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>OTRO NOMBRE DEL BARRIO:</strong></td><td>${OTRO_NOMBRE_DEL_BARRIO.value}</td></tr>
			<tr><td><strong>PARTIDO:</strong></td><td>${PARTIDO.value}</td></tr>
			<tr><td><strong>LOCALIDAD:</strong></td><td>${LOCALIDAD.value}</td></tr>
			<tr><td><strong>AÑO DE CONFORMACIÓN DEL BARRIO:</strong></td><td>${AÑO_DE_CONFORMACIÓN_DEL_BARRIO.value}</td></tr>
			<tr><td><strong>MODALIDAD EN LA QUE SE CONSTITUYÓ EL BARRIO:</strong></td><td>${MODALIDAD_EN_LA_QUE_SE_CONSTITUYÓ_EL_BARRIO.value}</td></tr>
			<tr><td><strong>AÑO DE MAYOR CRECIMIENTO:</strong></td><td>${AÑO_DE_MAYOR_CRECIMIENTO.value}</td></tr>
			<tr><td><strong>NRO DE FAMILIAS:</strong></td><td>${NRO_DE_FLIAS.value}</td></tr>
		</table>
	</div>
</div>
</script>

<!-- 
    {sName: "ACTORES QUE PARTICIPAN DE LA VENTA 2", sTitle: "ACTORES QUE PARTICIPAN DE LA VENTA 2", bVisible: true},
    {sName: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 1", sTitle: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 1", bVisible: true},
    {sName: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 2", sTitle: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 2", bVisible: true},
    {sName: "ACCESO A LA ENERGÍA", sTitle: "ACCESO A LA ENERGÍA", bVisible: true},
    {sName: "RED CLOACAL", sTitle: "RED CLOACAL", bVisible: true},
    {sName: "AGUA", sTitle: "AGUA", bVisible: true},
    {sName: "PROVISIÓN DE AGUA", sTitle: "PROVISIÓN DE AGUA", bVisible: true},
    {sName: "GAS", sTitle: "GAS", bVisible: true},
    {sName: "DESAGÜES PLUVIALES", sTitle: "DESAGÜES PLUVIALES", bVisible: true},
    {sName: "ALUMBRADO PÚBLICO", sTitle: "ALUMBRADO PÚBLICO", bVisible: true},
    {sName: "RECOLECCIÓN DE RESIDUOS", sTitle: "RECOLECCIÓN DE RESIDUOS", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 1", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 1", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 2", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 2", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 3", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 3", bVisible: true},
    {sName: "EXISTENCIA DE UN PROGRAMA DE VIVIENDA DEL ESTADO", sTitle: "EXISTENCIA DE UN PROGRAMA DE VIVIENDA DEL ESTADO", bVisible: true},
    {sName: "ESPECIFICAR CANTIDAD DE CASILLAS", sTitle: "ESPECIFICAR CANTIDAD DE CASILLAS", bVisible: true},
    {sName: "LLEGADA AL BARRIO EN TRANSPORTE PÚBLICO", sTitle: "LLEGADA AL BARRIO EN TRANSPORTE PÚBLICO", bVisible: true}
 -->


<!-- infoWindow (Popup) de los Establecimientos de Salud (Unidades) -->
<script type='text/html' id='es-bubble-es-unidad'>
	<div class="bubble-es">
		<table>
			<tr>
				<td><img src="/images/green_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Dirección:</strong></td><td>${Dirección.value}</td></tr>
			<tr><td><strong>Código Postal:</strong></td><td>${Código_Postal.value}</td></tr>
			<tr><td><strong>Localidad:</strong></td><td>${Localidad.value}</td></tr>
			<tr><td><strong>Departamento:</strong></td><td>${Departamento.value}</td></tr>
			<tr><td><strong>Provincia:</strong></td><td>${Provincia.value}</td></tr>
			<tr><td><strong>Teléfono:</strong></td><td>${Teléfono.value}</td></tr>
			<tr><td><strong>Teléfono 2:</strong></td><td>${Teléfono2.value}</td></tr>
		</table>
	</div>
</script>

<!-- infoWindow (Popup) adicional de los Establecimientos de Salud (Unidades) -->
<script type='text/html' id='es-bubble-es-unidad-add'>
	<div class="bubble-es">
		<table>
			<tr>
				<td><img src="/images/green_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Código SISA:</strong></td><td>${Código_SISA.value}</td></tr>
			<tr><td><strong>Cantidad de partos en 2011:</strong></td><td>${Cantidad_de_partos_en_2011.value}</td></tr>
			<tr><td><strong>Tipo de Establecimiento:</strong></td><td>${Tipo_de_Establecimiento.value}</td></tr>
			<tr><td><strong>Categoría:</strong></td><td>${Categoría.value}</td></tr>
			<tr><td><strong>Participa Plan Nacer:</strong></td><td>${Participa_Plan_Nacer.value}</td></tr>
			<tr><td><strong>Comentario/ especialidades:</strong></td><td>${Comentario_especialidades.value}</td></tr>
		</table>
	</div>
</script>

<!-- infoWindow (Popup) de los Establecimientos de Salud (Hospitales) -->
<script type='text/html' id='es-bubble-es-hospital'>
	<div class="bubble-es">
		<table>
			<tr>
				<td><img src="/images/red_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Dirección:</strong></td><td>${Dirección.value}</td></tr>
			<tr><td><strong>Código Postal:</strong></td><td>${Código_Postal.value}</td></tr>
			<tr><td><strong>Localidad:</strong></td><td>${Localidad.value}</td></tr>
			<tr><td><strong>Departamento:</strong></td><td>${Departamento.value}</td></tr>
			<tr><td><strong>Provincia:</strong></td><td>${Provincia.value}</td></tr>
			<tr><td><strong>Teléfono:</strong></td><td>${Teléfono.value}</td></tr>
			<tr><td><strong>Teléfono 2:</strong></td><td>${Teléfono2.value}</td></tr>
		</table>
	</div>
</script>

<!-- infoWindow (Popup) adicional de los Establecimientos de Salud (Hospitales) -->
<script type='text/html' id='es-bubble-es-hospital-add'>
	<div class="bubble-es">
		<table>
			<tr>
				<td><img src="/images/red_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Código SISA:</strong></td><td>${Código_SISA.value}</td></tr>
			<tr><td><strong>Cantidad de partos en 2011:</strong></td><td>${Cantidad_de_partos_en_2011.value}</td></tr>
			<tr><td><strong>Tipo de Establecimiento:</strong></td><td>${Tipo_de_Establecimiento.value}</td></tr>
			<tr><td><strong>Categoría:</strong></td><td>${Categoría.value}</td></tr>
			<tr><td><strong>Participa Plan Nacer:</strong></td><td>${Participa_Plan_Nacer.value}</td></tr>
			<tr><td><strong>Comentario/ especialidades:</strong></td><td>${Comentario_especialidades.value}</td></tr>
		</table>
	</div>
</script>

<script>
	window.onload = function() { initializeMap(); };
</script>
