	<div id='sidebar'>
      <h4>¿Qué estás viendo?</h4>
      <ul id='layers'>

        <li data-layer-name='es' class='es'>
<<<<<<< HEAD
          <header class="checkbox">
            <input type='checkbox' id='establecimientos' name='entity' value='es' checked>
            <span>Establecimientos de salud</span>
=======
          <header>
            <input type='checkbox' id='establecimientos' name='entity' value='es' checked> <strong>Establecimientos de salud</strong>
>>>>>>> 5c80a41fceb311a59394ade89fd92719b474c112
            <a href='#filters-es' class='expand'></a>		
          </header>

          <!-- Inicio Filtro de Establecimientos de salud -->

          <div id='filters-es' class='entity-filter' data-target-layer='es'>
            <section class='filter facet' data-facet='Hospital' style='display: block'>
              <header></header>
              <div>
<<<<<<< HEAD
                <label class="checkbox" style="color:#b94a48;"><input type='checkbox' id='hospitales' name='hospitales' value='X' checked><strong>Hospitales</strong></label>
                <label class="checkbox" style="color:#32cd32;"><input type='checkbox' id='cesacs' name='cesacs' value='' checked><strong>Centros de atención primaria</strong></label>
=======
                <label style="color:#ff0000;"><input type='checkbox' id='hospitales' name='hospitales' value='X' checked><strong>Hospitales</strong></label>
                <label style="color:#32cd32;"><input type='checkbox' id='cesacs' name='cesacs' value='' checked><strong>Centros de atención primaria</strong></label>
>>>>>>> 5c80a41fceb311a59394ade89fd92719b474c112
              </div>
            </section>
          </div>

          <!-- Cierro Filtro de Establecimientos de salud -->
        </li>

        <li data-layer-name='barrios' class='barrios'>
<<<<<<< HEAD
          <header class="checkbox">
            <input type='checkbox' id='barrios' name='entity' value='barrios' checked>
            <span style="color:#3a87ad;"><strong>Barrios</strong></span>
=======
          <header>
            <input type='checkbox' id='barrios' name='entity' value='barrios' checked> <strong><span style="color:#4169e1;">Barrios</span></strong>
>>>>>>> 5c80a41fceb311a59394ade89fd92719b474c112
            <a href='#filters-barrios' class='expand'></a>
          </header>

          <!-- Inicio Filtro de Barrios -->

<!-- 
          <div id='filters-barrios' class='entity-filter' data-target-layer='barrios'>
            <section class='filter facet col' data-facet='una_categoria' style='display: block'>
              <header>Una categoría</header>
              <div>
                <label><input type='checkbox' value='uno' checked>Opción uno</label>
                <label><input type='checkbox' value='dos' checked>Opción dos</label>
              </div>
            </section>
          </div>
 -->

          <!-- Cierro Filtro de Barrios -->
        </li>


   </ul>

<!-- 
   <div class='views'>
<<<<<<< HEAD
    <h4>¿Cómo lo estás viendo?</h4>
=======
    <h2>¿Cómo lo estás viendo?</h2>
    <a href='#view=map' title='Vista de mapa' class='map active'><span></span></a><a href='#view=table' title='Vista de tabla' class='table'><span></span></a>
    <br /><span class="vista-mapa">Mapa</span><span class="vista-tabla">Tablas</span>
   </div>
>>>>>>> 5c80a41fceb311a59394ade89fd92719b474c112

    <a href='#view=map' title='Vista de mapa' class='map active'><span></span></a>
    <a href='#view=table' title='Vista de tabla' class='table'><span></span></a>
    <br />
    <span class="vista-mapa"><a href='#view=map'>Mapa</a></span>
    <span class="vista-tabla"><a href='#view=table'>Tablas</a></span>
   </div>
 -->
   
	<div class='views_new'>
    	<h4>¿Cómo lo estás viendo?</h4>
		<span>&nbsp;&nbsp;&nbsp;</span>
    	<span><i class="icon-globe"></i>&nbsp;<a href='#view=map'><strong>Mapa</strong></a></span>
		<span>&nbsp;</span>
    	<span><i class="icon-th-list"></i>&nbsp;<a href='#view=table'><strong>Tablas</strong></a></span>
   	</div>

<<<<<<< HEAD
   	<br />

    	<h4>Completar testimonio.....</h4>
    	<!-- Rellenar formularios -->
		<ul class="unstyled">
    		<!-- Embarazo y controles prenatales -->
  			<li>
  				<i class=" icon-edit"></i>
				<a href="https://docs.google.com/forms/d/1Zv6BEPLkPnZsuBDUcKLE1GNzPZZu9PxRWT8uhk05biI/viewform" target="_blank">
    			Embarazo y controles prenatales
    			</a>
  			</li>
			<!-- Internación durante el embarazo -->
  			<li>
  				<i class=" icon-edit"></i>
				<a href="https://docs.google.com/forms/d/1ZVMo1vgdWb5gwNj5wWIcMxFBoBDdc4PBsU3880sdj_Y/viewform" target="_blank">
    			Internación durante el embarazo
    			</a>
  			</li>
			<!-- Parto -->
  			<li>
  				<i class=" icon-edit"></i>
				<a href="https://docs.google.com/forms/d/1PVa4NYs7_Hpmtd73g0ID2GKL7NCJyUk32iEFHMMIqF8/viewform" target="_blank">
    			Parto
    			</a>
  			</li>
			<!-- Internación después del parto o durante el puerperio -->
  			<li>
  				<i class=" icon-edit"></i>
				<a href="https://docs.google.com/forms/d/1U5VqckUZSsHTS4yO_cREOCJ-smmSz6EAYMKIg5y-G1E/viewform" target="_blank">
    			Internación después del parto o durante el puerperio
    			</a>
  			</li>
			<!-- Menores de 20 años, sin embarazo aún -->
  			<li>
  				<i class=" icon-edit"></i>
				<a href="https://docs.google.com/forms/d/1r2XT3QOReibh5qpwAYmBQegndpzTfr3Huw6twDcWoIU/viewform" target="_blank">
    			Menores de 20 años, sin embarazo aún
    			</a>
  			</li>
		</ul>
		
    	<!-- Rellenar formularios -->
		<h4>Leer testimonios</h4>
		<ul class="unstyled">
    		<!-- Embarazo y controles prenatales -->
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1Zv6BEPLkPnZsuBDUcKLE1GNzPZZu9PxRWT8uhk05biI/viewform" target="_blank">
    			Embarazo y controles prenatales
    			</a>
  			</li>
			<!-- Internación durante el embarazo -->
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1ZVMo1vgdWb5gwNj5wWIcMxFBoBDdc4PBsU3880sdj_Y/viewform" target="_blank">
    			Internación durante el embarazo
    			</a>
  			</li>
			<!-- Parto -->
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1PVa4NYs7_Hpmtd73g0ID2GKL7NCJyUk32iEFHMMIqF8/viewform" target="_blank">
    			Parto
    			</a>
  			</li>
			<!-- Internación después del parto o durante el puerperio -->
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1U5VqckUZSsHTS4yO_cREOCJ-smmSz6EAYMKIg5y-G1E/viewform" target="_blank">
    			Internación después del parto o durante el puerperio
    			</a>
  			</li>
			<!-- Menores de 20 años, sin embarazo aún -->
  			<li>
  				<i class=" icon-eye-open"></i>
				<a href="https://docs.google.com/forms/d/1r2XT3QOReibh5qpwAYmBQegndpzTfr3Huw6twDcWoIU/viewform" target="_blank">
    			Menores de 20 años, sin embarazo aún
    			</a>
  			</li>
		</ul>
=======
    <h2>Completar testimonio.....</h2>
    	<!-- Formularios -->

    	
    	<!-- Embarazo y controles prenatales -->
		&nbsp;&nbsp;
		<a href="https://docs.google.com/forms/d/1Zv6BEPLkPnZsuBDUcKLE1GNzPZZu9PxRWT8uhk05biI/viewform" target="_blank">
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="24" height="24"/>
    	Embarazo y controles prenatales</a>
		<br />
		
		&nbsp;&nbsp;
		<a href="https://docs.google.com/forms/d/1ZVMo1vgdWb5gwNj5wWIcMxFBoBDdc4PBsU3880sdj_Y/viewform" target="_blank">
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="24" height="24"/>
		Internación durante el embarazo
		<br />
		
		<!-- Parto -->
		&nbsp;&nbsp;
		<a href="https://docs.google.com/forms/d/1PVa4NYs7_Hpmtd73g0ID2GKL7NCJyUk32iEFHMMIqF8/viewform" target="_blank">
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="24" height="24"/>Parto</a>&nbsp;
		<br />
		<!-- Internación por complicaciones -->
		&nbsp;&nbsp;
		<a href="https://docs.google.com/forms/d/1U5VqckUZSsHTS4yO_cREOCJ-smmSz6EAYMKIg5y-G1E/viewform" target="_blank">
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="24" height="24"/>
    	Internación después del parto o durante el puerperio</a>
		<br />
		<!-- Menores de 20 años sin embarazo -->
		&nbsp;&nbsp;
		<a href="https://docs.google.com/forms/d/1r2XT3QOReibh5qpwAYmBQegndpzTfr3Huw6twDcWoIU/viewform" target="_blank">
    	<img style="vertical-align:bottom;" src="/images/form_32_32.png" width="24" height="24"/>
    	Menores de 20 años, sin embarazo aún</a>
		<br />
		<br />
>>>>>>> 5c80a41fceb311a59394ade89fd92719b474c112

		<!-- Evaluaciones de los testimonios -->
<!-- 
		<form action="/contenido/testimonios">
			&nbsp;&nbsp;&nbsp;<input type=submit value="Evaluaciones"><a href="/contenido/testimonios" ></a>
		</form>
 -->
</div>

<!-- Posicion original de filtros -->
<!-- Final Posicion original de filtros -->


<div id="main" role="main" class="fluid">
  <div id="table" style='display: none'>
    <table id='barrios-table' class='display'></table>
    <table id='es-table' class='display'></table>
  </div>
  <div id="map"></div>
</div>

<!-- infoWindow for Barrios -->
<script type='text/html' id='barrios-bubble-template'>
	<div class="bubble-es" id="tabs-bubble">
	<div id="infoWindow">
  		<ul>
    		<li><a href="#tab-1"><span>Información de</span></a></li>
    		<li><a href="#tab-2"><span>ver más</span></a></li>
  		</ul>  		
  		<div id="tab-1">
		<table>
			<tr>
				<td><img src="/images/icon_city.gif" width="40" height="40" /></td>
				<td><h3>${NOMBRE_DEL_BARRIO.value}</h3></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>OTRO NOMBRE DEL BARRIO:</strong></td><td>${OTRO_NOMBRE_DEL_BARRIO.value}</td></tr>
			<tr><td><strong>PARTIDO:</strong></td><td>${PARTIDO.value}</td></tr>
			<tr><td><strong>LOCALIDAD:</strong></td><td>${LOCALIDAD.value}</td></tr>
			<tr><td><strong>AÑO DE CONFORMACIÓN DEL BARRIO:</strong></td><td>${AÑO_DE_CONFORMACIÓN_DEL_BARRIO.value}</td></tr>
			<tr><td><strong>MODALIDAD EN LA QUE SE CONSTITUYÓ EL BARRIO:</strong></td><td>${MODALIDAD_EN_LA_QUE_SE_CONSTITUYÓ_EL_BARRIO.value}</td></tr>
			<tr><td><strong>AÑO DE MAYOR CRECIMIENTO:</strong></td><td>${AÑO_DE_MAYOR_CRECIMIENTO.value}</td></tr>
			<tr><td><strong>NRO DE FAMILIAS:</strong></td><td>${NRO_DE_FLIAS.value}</td></tr>
		</table>
		</div>
  		<div id="tab-2">
		<table>
			<tr>
				<td><img src="/images/icon_city.gif" width="40" height="40" /></td>
				<td><h3>${NOMBRE_DEL_BARRIO.value}</h3></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>--:</strong></td><td>--</td></tr>
		</table>
		</div>		
	</div>
	</div>
</script>


<!-- 
    {sName: "ACTORES QUE PARTICIPAN DE LA VENTA 2", sTitle: "ACTORES QUE PARTICIPAN DE LA VENTA 2", bVisible: true},
    {sName: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 1", sTitle: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 1", bVisible: true},
    {sName: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 2", sTitle: "MODALIDAD ADOPTADA POR LAS NUEVAS GENERACIONES 2", bVisible: true},
    {sName: "ACCESO A LA ENERGÍA", sTitle: "ACCESO A LA ENERGÍA", bVisible: true},
    {sName: "RED CLOACAL", sTitle: "RED CLOACAL", bVisible: true},
    {sName: "AGUA", sTitle: "AGUA", bVisible: true},
    {sName: "PROVISIÓN DE AGUA", sTitle: "PROVISIÓN DE AGUA", bVisible: true},
    {sName: "GAS", sTitle: "GAS", bVisible: true},
    {sName: "DESAGÜES PLUVIALES", sTitle: "DESAGÜES PLUVIALES", bVisible: true},
    {sName: "ALUMBRADO PÚBLICO", sTitle: "ALUMBRADO PÚBLICO", bVisible: true},
    {sName: "RECOLECCIÓN DE RESIDUOS", sTitle: "RECOLECCIÓN DE RESIDUOS", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 1", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 1", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 2", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 2", bVisible: true},
    {sName: "EL BARRIO SE ENCUENTRA CERCA DE 3", sTitle: "EL BARRIO SE ENCUENTRA CERCA DE 3", bVisible: true},
    {sName: "EXISTENCIA DE UN PROGRAMA DE VIVIENDA DEL ESTADO", sTitle: "EXISTENCIA DE UN PROGRAMA DE VIVIENDA DEL ESTADO", bVisible: true},
    {sName: "ESPECIFICAR CANTIDAD DE CASILLAS", sTitle: "ESPECIFICAR CANTIDAD DE CASILLAS", bVisible: true},
    {sName: "LLEGADA AL BARRIO EN TRANSPORTE PÚBLICO", sTitle: "LLEGADA AL BARRIO EN TRANSPORTE PÚBLICO", bVisible: true}
 -->


<!-- infoWindow (Popup) de los Establecimientos de Salud (Unidades) -->
<script type='text/html' id='es-bubble-es-unidad'>
	<div class="bubble-es" id="tabs-bubble">
	<div id="infoWindow">
  		<ul>
    		<li><a href="#tab-1"><span>Información de</span></a></li>
    		<li><a href="#tab-2"><span>ver más</span></a></li>
  		</ul>  		
  		<div id="tab-1">
		<table>
			<tr>
				<td><img src="/images/green_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Dirección:</strong></td><td>${Dirección.value}</td></tr>
			<tr><td><strong>Código Postal:</strong></td><td>${Código_Postal.value}</td></tr>
			<tr><td><strong>Localidad:</strong></td><td>${Localidad.value}</td></tr>
			<tr><td><strong>Departamento:</strong></td><td>${Departamento.value}</td></tr>
			<tr><td><strong>Provincia:</strong></td><td>${Provincia.value}</td></tr>
			<tr><td><strong>Teléfono:</strong></td><td>${Teléfono.value}</td></tr>
			<tr><td><strong>Teléfono 2:</strong></td><td>${Teléfono2.value}</td></tr>
		</table>
		</div>
  		<div id="tab-2">
		<table>
			<tr>
				<td><img src="/images/green_cross_64_64.png" width="40" height="40" /></td>
				<td><h1>${Nombre.value}</h1></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Código SISA:</strong></td><td>${Código_SISA.value}</td></tr>
			<tr><td><strong>Cantidad de partos en 2011:</strong></td><td>${Cantidad_de_partos_en_2011.value}</td></tr>
			<tr><td><strong>Tipo de Establecimiento:</strong></td><td>${Tipo_de_Establecimiento.value}</td></tr>
			<tr><td><strong>Categoría:</strong></td><td>${Categoría.value}</td></tr>
			<tr><td><strong>Participa Plan Nacer:</strong></td><td>${Participa_Plan_Nacer.value}</td></tr>
			<tr><td><strong>Comentario/ especialidades:</strong></td><td>${Comentario_especialidades.value}</td></tr>
		</table>
		</div>		
	</div>
	</div>
</script>

<!-- infoWindow (Popup) de los Establecimientos de Salud (Hospitales) -->
<script type='text/html' id='es-bubble-es-hospital'>
	<div class="bubble-es" id="tabs-bubble">
	<div id="infoWindow">
  		<ul>
    		<li><a href="#tab-1"><span>Información de</span></a></li>
    		<li><a href="#tab-2"><span>ver más</span></a></li>
  		</ul>  		
  		<div id="tab-1">
		<table>
			<tr>
				<td><img src="/images/red_cross_64_64.png" width="40" height="40" /></td>
				<td><h3>${Nombre.value}</h3></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Dirección:</strong></td><td>${Dirección.value}</td></tr>
			<tr><td><strong>Código Postal:</strong></td><td>${Código_Postal.value}</td></tr>
			<tr><td><strong>Localidad:</strong></td><td>${Localidad.value}</td></tr>
			<tr><td><strong>Departamento:</strong></td><td>${Departamento.value}</td></tr>
			<tr><td><strong>Provincia:</strong></td><td>${Provincia.value}</td></tr>
			<tr><td><strong>Teléfono:</strong></td><td>${Teléfono.value}</td></tr>
			<tr><td><strong>Teléfono 2:</strong></td><td>${Teléfono2.value}</td></tr>
		</table>
		</div>
  		<div id="tab-2">
		<table>
			<tr>
				<td><img src="/images/red_cross_64_64.png" width="40" height="40" /></td>
				<td><h3>${Nombre.value}</h3></td>
			</tr>		
		</table>
		<hr>
		<table>
			<tr><td><strong>Código SISA:</strong></td><td>${Código_SISA.value}</td></tr>
			<tr><td><strong>Cantidad de partos en 2011:</strong></td><td>${Cantidad_de_partos_en_2011.value}</td></tr>
			<tr><td><strong>Tipo de Establecimiento:</strong></td><td>${Tipo_de_Establecimiento.value}</td></tr>
			<tr><td><strong>Categoría:</strong></td><td>${Categoría.value}</td></tr>
			<tr><td><strong>Participa Plan Nacer:</strong></td><td>${Participa_Plan_Nacer.value}</td></tr>
			<tr><td><strong>Comentario/ especialidades:</strong></td><td>${Comentario_especialidades.value}</td></tr>
		</table>
		</div>		
	</div>
	</div>
</script>

<script>
	window.onload = function() { initializeMap(); };
</script>
