@import url(http://fonts.googleapis.com/css?family=Lato:900,400,400italic,700);

/* line 360, ../sass/styles.scss */
#main.fluid {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding-left: 280px;
  padding-top: 46px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

#testimonios.content {
  width: auto;
  margin: 0 auto;
  background: #fff;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 20px;
  padding: 10px 35px;
}

.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

#map {
	height: 700px;
	width: 630px;
  	margin: 0;
	border: 1px solid #ccc;
}

#map_canvas {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: "hidden";
}

#table {
	height: 700px;
	width: 630px;
  	margin: 0;
	border: 1px solid #ccc;
	white-space: nowrap;
}

.hr85 {
  border: 0;
  width: 85%;
}

@media print {
  /* line 461, ../sass/styles.scss */
  html, body {
    height: auto;
  }

/* line 529, ../sass/styles.scss */
#table th {
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 540, ../sass/styles.scss */
.dataTables_wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
/* line 545, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar {
  z-index: 1;
  border-radius: 0;
  border-right-width: 0;
}
/* line 550, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar:first-child {
  z-index: 2;
  position: relative;
}
/* line 556, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar:last-child {
  position: absolute;
  z-index: 0;
}
/* line 561, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar .dataTables_paginate {
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 2;
}
/* line 568, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar .dataTables_info, .dataTables_wrapper .fg-toolbar .dataTables_length, .dataTables_wrapper .fg-toolbar .dataTables_filter {
  float: none;
  display: inline-block;
  width: auto;
  margin: 0 20px 0 0;
}
/* line 575, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar .dataTables_info {
  padding: 0 0 0 10px;
}
/* line 579, ../sass/styles.scss */
.dataTables_wrapper .fg-toolbar .dataTables_length {
  width: 250px;
}

/* line 588, ../sass/styles.scss */
.dataTables_scroll {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 32px 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 599, ../sass/styles.scss */
.dataTables_scrollHead {
  z-index: 10;
}

/* line 609, ../sass/styles.scss */
.dataTables_scrollBodyWrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 57px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 634, ../sass/styles.scss */
.DataTables_sort_wrapper {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 638, ../sass/styles.scss */
.dataTables_info {
  padding: 0;
}

.bubble-es {
	color: #000000;
	background-color: #ffffff;
  	width: 100%;
  	padding: 0 5px;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
  	line-height: 1.2em;
}

.bubble-es h1 {
/* 
	color: #7DA528;
 */
	color: #000000;
	background-color: #ffffff;
  	font-size: 1em;
  	line-height: 1.2em;
  	margin: 0;
}

/* line 695, ../sass/styles.scss */
.bubble {
  width: 100%;
  padding: 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2em;
}

/* line 703, ../sass/styles.scss */
.bubble h1 {
	color: #000000;
	background-color: #ffffff;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
}
/* line 708, ../sass/styles.scss */
.bubble h1 a {
  color: #e87569;
}
/* line 714, ../sass/styles.scss */
.bubble header {
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  letter-spacing: 1px;
}
/* line 724, ../sass/styles.scss */
.bubble span {
  font-size: 10px;
  color: #999;
}
/* line 729, ../sass/styles.scss */
.bubble table.info {
  font-size: 11px;
  line-height: 13px;
  width: 300px;
  margin: 15px 0 0 0;
}
/* line 736, ../sass/styles.scss */
.bubble table.info td:first-child {
  width: 80px;
}
/* line 741, ../sass/styles.scss */
.bubble .chart {
  height: 150px;
  margin: 10px 0 0 0;
}

/* line 748, ../sass/styles.scss */
table.info td {
  vertical-align: top;
}
/* line 752, ../sass/styles.scss */
table.info td:first-child {
  text-align: right;
  padding-right: 5px;
  font-weight: bold;
  width: 180px;
}

/* line 760, ../sass/styles.scss */
a.contextual {
  font-size: 0.9em;
  color: #777;
}

/* line 765, ../sass/styles.scss */
.zoomed-map {
  width: 100%;
  height: 200px;
}

/* line 772, ../sass/styles.scss */
#main.entity {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding: 0;
}
/* line 777, ../sass/styles.scss */
#main.entity h1, #main.entity h2, #main.entity h3 {
  margin-top: 0;
}
/* line 781, ../sass/styles.scss */
#main.entity > .main, #main.entity > .sidebar {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  position: relative;
}
/* line 787, ../sass/styles.scss */
#main.entity > .main {
  padding-left: 20px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 610px;
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #dddddd;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194@qpr/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main.entity > .main {
  overflow-x: hidden;
}
/* line 793, ../sass/styles.scss */
#main.entity section:not(:last-child) {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 14px;
  padding-bottom: 15px;
}
/* line 799, ../sass/styles.scss */
#main.entity > .sidebar {
  display: inline;
  float: left;
  margin-right: 0;
  width: 250px;
  padding-right: 20px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194@qpr/gems/compass-0.11.7/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #main.entity > .sidebar {
  overflow-x: hidden;
}
/* line 803, ../sass/styles.scss */
#main.entity > .sidebar .zoomed-map {
  margin-bottom: 10px;
}
/* line 808, ../sass/styles.scss */
#main.entity .badge {
  position: absolute;
  top: 5px;
  right: 25px;
}
/* line 814, ../sass/styles.scss */
#main.entity table.info, #main.entity table.info table {
  border-spacing: 0px;
}
/* line 817, ../sass/styles.scss */
#main.entity table.info tr:not(:last-child) td, #main.entity table.info table tr:not(:last-child) td {
  border-bottom: 1px solid #dddddd;
}
/* line 820, ../sass/styles.scss */
#main.entity table.info .no-border td, #main.entity table.info table .no-border td {
  border: none !important;
}
/* line 823, ../sass/styles.scss */
#main.entity table.info td:first-child, #main.entity table.info table td:first-child {
  width: 150px;
}
/* line 831, ../sass/styles.scss */
#main.entity .main h2 {
  margin-top: 20px;
  color: #939393;
}
/* line 838, ../sass/styles.scss */
#main.entity .image-slider {
  padding: 30px 0 0 0;
}
/* line 841, ../sass/styles.scss */
#main.entity .image-slider .ui-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 848, ../sass/styles.scss */
#main.entity .image-slider img {
  max-width: 100%;
  margin-top: 30px;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 856, ../sass/styles.scss */
.badge {
  -moz-border-radius: 0.6em;
  -webkit-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -khtml-border-radius: 0.6em;
  border-radius: 0.6em;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 0px;
  color: #fff;
  display: inline-block;
  padding: 0.3em 0.6em;
  text-transform: uppercase;
  font-size: 11px;
}
/* line 865, ../sass/styles.scss */
.badge.bad {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bc321d), color-stop(100%, #b1241a));
  background-image: -webkit-linear-gradient(top, #bc321d, #b1241a);
  background-image: -moz-linear-gradient(top, #bc321d, #b1241a);
  background-image: -o-linear-gradient(top, #bc321d, #b1241a);
  background-image: -ms-linear-gradient(top, #bc321d, #b1241a);
  background-image: linear-gradient(top, #bc321d, #b1241a);
}
/* line 869, ../sass/styles.scss */
.badge.ok {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #48a23f), color-stop(100%, #268230));
  background: -webkit-linear-gradient(#48a23f, #268230);
  background: -moz-linear-gradient(#48a23f, #268230);
  background: -o-linear-gradient(#48a23f, #268230);
  background: -ms-linear-gradient(#48a23f, #268230);
  background: linear-gradient(#48a23f, #268230);
}

/* line 875, ../sass/styles.scss */
#riesgo .chart {
  width: 100%;
  height: 150px;
}
/* line 880, ../sass/styles.scss */
#riesgo p {
  margin: 10px 0 0 0;
}

/* line 885, ../sass/styles.scss */
.content {
  background-color: transparent;
  color: #333;
}

/* line 888, ../sass/styles.scss */
.indice {
  width: 95%;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  padding: 10px;
  background-color: #F4F4F4;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}


/* SIDE CONTENT */
.sidecontentpullout {
	background-color: Black;
	color: White;
	padding: 4px 8px;
	font-size: 0.7em;
	-moz-border-radius-bottomleft: 1em;
	-moz-border-radius-topleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	-webkit-border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.sidecontentpullout:hover {
	background-color: #222222;
	color: White;
}

.sidecontent {
	background-color: black;
	color: white;
	-moz-border-radius-bottomleft: 1em;
	-webkit-border-bottom-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

.sidecontent > div > div {
	padding-left: 10px;
	padding-right: 40px;
}

.sidecontent a {
	color: white;
}
