<div id='main' role='main' class='content'>

<p>
	<code style="color:red;"><strong>Por hacer: Insertar formulario original aquí.</strong></code>
</p>

<iframe 
	src="https://docs.google.com/forms/d/1SU6x5CwuaXs4pNKyyrEWesabL1icPDs0bEOjMkRxicg/viewform?embedded=true" 
	width="760" 
	height="570" 
	frameborder="0" 
	marginheight="0" 
	marginwidth="0">
	Cargando...
</iframe>


<!-- 
    <a href='#'>Adolescente sin embarazo</a>
    <a href='#'>Embarazo y controles prenatales</a>
    <a href='#'>Parto</a>
    <a href='#'>Internación por complicación durante el embarazo o posparto</a>
 -->


</div>
